@dark-grey: #666;
@light-grey: #BBB;
@grey: #999;

// As hex codes
@forest-0: #4E7833;
@forest-1: #EDEFEC;
@forest-2: #A6D08A;
@forest-3: #286401;
@forest-4: #112C00;

@ocean-0: #2E375D;
@ocean-1: #D2D2D4;
@ocean-2: #727AA1;
@ocean-3: #0A164D;
@ocean-4: #000622;

@earth-0: #897B3A;
@earth-1: #FFFFFD;
@earth-2: #ECDE9D;
@earth-3: #715E01;
@earth-4: #322900;

// As RGBa codes
@rgba-forest-0: rgba( 78,120, 51,1);
@rgba-forest-1: rgba(237,239,236,1);
@rgba-forest-2: rgba(166,208,138,1);
@rgba-forest-3: rgba( 40,100,  1,1);
@rgba-forest-4: rgba( 17, 44,  0,1);

@rgba-ocean-0: rgba( 46, 55, 93,1);
@rgba-ocean-1: rgba(210,210,212,1);
@rgba-ocean-2: rgba(114,122,161,1);
@rgba-ocean-3: rgba( 10, 22, 77,1);
@rgba-ocean-4: rgba(  0,  6, 34,1);

@rgba-earth-0: rgba(137,123, 58,1);
@rgba-earth-1: rgba(255,255,253,1);
@rgba-earth-2: rgba(236,222,157,1);
@rgba-earth-3: rgba(113, 94,  1,1);
@rgba-earth-4: rgba( 50, 41,  0,1);
