#search {
    @border: 1px solid #eee;
    @width: 250px;
    @radius: 3px;
    margin-left: 50%;
    position: absolute;
    left: -@width/2;
    margin-top: 20px;
    display: inline-block;
    width: @width;
    .search {
        .search-input, .items {
            width: 100%;
        }
        .search-input {
            // width: @width;
            border-radius: @radius;
            border: @border;
            height: 40px;
            padding-left: 10px;
        }
        .items {
            display: none;
            border: @border;
            border-top: none;
            border-radius: @radius;
            position: absolute;
            background-color: #fff;
        }
        .item {
            border-bottom: @border;
            padding: 10px;
            &:last-child {
                border-bottom: none;
            }
            &.active {
                background-color: #f7f7f7;
            }
            .rank {
                color: #999;
                font-style: italic;
                font-size: 12px;
                font-weight: bold;
            }
            .name, .rank {
                display: block;
            }
        }
    }
}
