#tree {
    svg {
        width: 100%;
        height: 100%;
    }
    .node {
        cursor: pointer;
        text {
            font-size: 20px;
            fill: @dark-grey;
            text-anchor: start;
        }
        .action {
            fill: #000;
            cursor: pointer;
            transform: translate(0, 0);
            transition: transform 200ms 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275), fill 150ms;
            &:hover {
                fill: @grey;
            }
        }
        .action-filler {
            fill: transparent;
        }
        &:hover {
            .action {
                transition-delay: 0;
            }
            .parent {
                transition-delay: 200ms;
                transform: translate(-15px, -105px);
            }
            .relationships {
                transition-delay: 150ms;
                transform: translate(-81px, -81px);
            }
            .view {
                transition-delay: 100ms;
                transform: translate(-105px, -15px);
            }
            .add {
                transition-delay: 50ms;
                transform: translate(-81px, 51px);
            }
            .children {
                transform: translate(-15px, 75px);
            }
        }
    }
    .link {
        stroke: @grey;
        fill: none;
        stroke-width: 3px;
    }
}
